@import "materials";
@import "elements/buttons/_main.scss";

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: $systemGray6;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    @extend .glass;
}

.queue-header h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.queue-info {
    text-align: center;
    font-size: 18px;
    color: $systemGray3;
    margin-bottom: 15px;
}

.queue-list {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 8px;
}

.queue-list p {
    font-size: 16px;
    color: $systemGray2;
    margin-bottom: 10px;
}

#studentList {
    list-style: none;
    padding: 0;
}

#studentList li {
    font-size: 16px;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.queue-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.queue-buttons button {
    @extend .glowOnHover;
    @extend .medium;
    @extend .primary;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 18px;
}

.queue-buttons button:nth-child(3) {
    @extend .secondary;
}

.exit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.exit-button {
    @extend .medium;
    @extend .tertiary;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 18px;
    cursor: pointer;
}

.exit-button:hover {
    transform: scale(1.05);
}
