.dropbtn {
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
  animation: scaleIn 0.7s ease forwards;
}
.dropdown .dropdown-content {
  display: none;
  position: fixed;
  background-color: black;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 183, 255, 0.2);
}
.dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a:hover {
  background-color: darkblue;
  transform: scale(1.05);
}

.dropdownp1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdownp1:hover .dropdown-content {
  display: block;
  animation: scaleIn 0.7s ease forwards;
}
.dropdownp1 .dropdown-content {
  display: none;
  position: fixed;
  background-color: black;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 183, 255, 0.2);
}
.dropdownp1 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownp1 .dropdown-content a:hover {
  background-color: rgb(159, 255, 56);
  transform: scale(1.05);
}

.dropdownp2 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdownp2:hover .dropdown-content {
  display: block;
  animation: scaleIn 0.7s ease forwards;
}
.dropdownp2 .dropdown-content {
  display: none;
  position: fixed;
  background-color: black;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 183, 255, 0.2);
}
.dropdownp2 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownp2 .dropdown-content a:hover {
  background-color: #232f2a;
  transform: scale(1.05);
}

.dropdownp3 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdownp3:hover .dropdown-content {
  display: block;
  animation: scaleIn 0.7s ease forwards;
}
.dropdownp3 .dropdown-content {
  display: none;
  position: fixed;
  background-color: #3a3f44;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 183, 255, 0.2);
}
.dropdownp3 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownp3 .dropdown-content a:hover {
  background-color: #50575e;
  transform: scale(1.05);
}

.dropdownp4 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdownp4:hover .dropdown-content {
  display: block;
  animation: scaleIn 0.7s ease forwards;
}
.dropdownp4 .dropdown-content {
  display: none;
  position: fixed;
  background-color: rgb(51, 139, 253);
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 183, 255, 0.2);
}
.dropdownp4 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownp4 .dropdown-content a:hover {
  background-color: #44475a;
  transform: scale(1.05);
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=dropdown-menu.css.map */