@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#score {
  position: relative;
  z-index: 2;
  padding: 5px;
  color: darkred !important;
}

#gameBegin, #gameOver, #settings, #leaderboard {
  position: relative;
  z-index: 2;
}

#addRow, #backToGame {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-right: 2rem;
}

.submenu {
  color: #FFFFFF !important;
  background-color: #000000 !important;
  border: 1px solid #6272a4;
  border: none;
  position: fixed;
  z-index: 3;
  top: 3.73rem;
  width: -moz-fit-content;
  width: fit-content;
}
.submenu .submenu-item {
  display: inline-block;
  margin-right: 2rem;
}

.sidebar {
  color: #FFFFFF !important;
  background-color: #000000 !important;
  border: 1px solid #6272a4;
  border: none;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5-second transition effect to slide in the sidebar */
  width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow-y: scroll;
  height: 75%;
}

.leaderboardDropDown {
  color: #FFFFFF !important;
  background-color: #000000 !important;
  border: 1px solid #6272a4;
  border: none;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5-second transition effect to slide in the sidebar */
  width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 75%;
  scroll-behavior: auto;
}

#leaderboardTitle {
  text-align: center;
  color: #3d3af2;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-weight: 900;
  font-size: 70px;
  font-family: "Press Start 2P", system-ui;
  background-color: #b01a2e;
}

.table.scores, th, tr, td {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.table.scores th {
  background-color: #e0b2b2;
}
.table.scores tr td {
  border: 1px solid #742929;
}
.table.scores tr td:nth-child(odd) {
  background-color: #e85252;
}
.table.scores tr td:nth-child(even) {
  background-color: #be6464;
}

.table.levels tr {
  cursor: pointer;
}
.table.levels tr td {
  border: 1px solid #6272a4;
}
.table.levels tr:hover {
  background-color: #6272a4;
}
.table.levels tr:hover td {
  background-color: inherit;
}

.input.userID {
  color: #FFFFFF !important;
  background-color: #000000 !important;
  border: 1px solid #6272a4;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.input.gameSpeed, .input.gravity {
  color: #FFFFFF !important;
  background-color: #000000 !important;
  border: 1px solid #6272a4;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  width: 40px;
  text-align: right;
}

#toggleCanvasEffect, #background, #platform {
  animation: fadein 3s;
}

#startGame, #marioSays {
  animation: flash 0.5s infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bottom-matter {
  position: relative;
}

#cut-story {
  visibility: hidden;
  min-width: 250px;
  background-color: rgb(255, 93, 12);
  color: white;
  font-family: "Press Start 2P", system-ui;
  border-radius: 4px;
  position: fixed;
  text-align: center;
  justify-content: center;
  border: 4px solid;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50%;
  padding: 10px;
  bottom: 0px;
}

/*creating class with javascript*/
#cut-story.show {
  visibility: visible;
  animation: fadein 3s;
}

#cut-story.hide {
  visibility: visible;
  animation: fadeout 0.5s 3s;
}

body {
  background: #FFB6C1;
}

#container {
  width: 95%;
  height: 100vh;
  display: flex;
  text-align: center;
}

.fun_facts {
  min-width: 250px;
  background-color: rgb(12, 235, 255);
  color: rgb(9, 107, 78);
  font-family: "Press Start 2P", system-ui;
  border-radius: 20px;
  position: absolute;
  text-align: center;
  border: 4px solid;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 90%;
  padding: 10px;
  bottom: 0px;
}

.fun_facts h3, .fun_facts p {
  font-size: 1rem;
}/*# sourceMappingURL=platformer-game.css.map */