<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Collectables in Java" alt=""></td>
        <td><a href="{{site.baseurl}}/teamTeachCollectables/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/teamTeachCollectables/lists">Lists</a></td>
        <td><a href="{{site.baseurl}}/teamTeachCollectables/sets">Sets</a></td>
        <td><a href="{{site.baseurl}}/teamTeachCollectables/queue-dequeue">Queues and Dequeues</a></td>
        <td><a href="{{site.baseurl}}/teamTeachCollectables/summary">Summary</a></td>
    </tr>
</table>