<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="JS Project" alt=""></td> 
        <td><a href="{{site.baseurl}}/play">Play</a></td>
        <td><a href="{{site.baseurl}}/binary-math">Binary Math</a></td>
        <td><a href="{{site.baseurl}}/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/game-of-life">Game-of-Life</a></td>
        <td><a href="{{site.baseurl}}/music-api">Music</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
    </tr>
</table>