// BUTTON ELEMENTS ===============

// BUTTON STATES ============

// disabled state
@mixin disabled {
    color: rgba(142, 142, 147, 0.6); // Light gray for text
    background-color: rgba(142, 142, 147, 0.2); // Lighter gray background
    cursor: not-allowed;
    // pointer-events: none;
    opacity: 0.5;

    // Remove hover and active effects
    &:hover,
    &:active {
        background-color: inherit;
    }
}

// Disabled class
.disabled {
    @include disabled;
}

// If you want to make buttons disabled
.primaryFilled.disabled,
.secondaryFilled.disabled,
.tertiaryFilled.disabled {
    @include disabled;
}

// hover and active states
@mixin hover-darken($color, $amount: 10%) {
    &:hover {
        background-color: darken($color, $amount);
    }
}

@mixin active-darken($color, $amount: 20%) {
    &:active {
        background-color: darken($color, $amount);
    }
}

// BUTTONS ============

// Common button styles
.common {
    border-radius: 10px;
    border-style: none;
    transition: background-color 0.3s ease;
}

// sizes for buttons
.small {
    @extend .common;
    padding: 10px;
}

.medium {
    @extend .common;
    padding: 20px;
}

.large {
    @extend .common;
    padding: 30px 45px;
}

// Button styles with dynamic hover & active effects
.primaryFilled {
    background-color: $systemBlack;
    @include hover-darken($systemBlack);
    @include active-darken($systemBlack);

    color: white;
}

.secondaryFilled {
    background-color: $systemGray2;
    @include hover-darken($systemGray2);
    @include active-darken($systemGray2);
}

.tertiaryFilled {
    background-color: $systemGray5;
    @include hover-darken($systemGray5);
    @include active-darken($systemGray5);
}
