// HOLLOW BUTTONS =========
.primaryHollow {
    @extend .primaryFilled;
    background-color: transparent;
    border: 2px solid $systemBlack;
}

.secondaryHollow {
    @extend .secondaryFilled;
    background-color: transparent;
    border: 2px solid $systemGray2;
}

.tertiaryHollow {
    @extend .tertiaryFilled;
    background-color: transparent;
    border: 2px solid $systemGray5;
}