<style>
    /* SIDEBAR LINK STYLES */
    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style-type: none;
        padding-left: 0px;
    }

    .sidebar ul li a {
        position: relative;
        display: block;
        padding: 4px 0;
        font-family: Lato, sans-serif;
        color: #ecf0f1;
        text-decoration: none;
        transition: 0.5s;
        font-weight: bolder;
    }

    .sidebar ul li a::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #3498db;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    .sidebar ul li a:hover {
        color: #95a5a6;
    }

    .sidebar ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .sidebar .active-tab {
        color: #0071e3;
    }
</style>

<h1 id="headerName">Welcome,<br /> User</h1>


<!-- nav links -->
<ul>
    <!-- these will show if you ARE logged in -->
    <li id="profile-link">
        <h3><a href="{{site.baseurl}}/profile" id="profile-link_">Profile
                Settings</a></h3>
    </li>

    <li id="calendar-link">
        <h3><a href="{{site.baseurl}}/student/calendar">Calendar</a></h3>
    </li>

    <li id="sign-out-link">
        <h3><a href="{{site.baseurl}}/logoutjava">Sign Out</a></h3>
    </li>

    <!-- these will show if you're NOT logged in -->
    <li id="sign-in-link">
        <h3><a href="{{site.baseurl}}/login">Sign In</a></h3>
    </li>

    <li id="sign-up-link">
        <h3><a href="{{site.baseurl}}/signup">Sign Up</a></h3>
    </li>
</ul>

<script type="module">
    // Use this to configure the API links depending on if you're running on localhost or not
    import { pythonURI, fetchOptions } from '{{site.baseurl}}/assets/js/api/config.js';

    async function fetchUserProfile() {
        const URL = pythonURI + "/api/id"; // Endpoint to fetch user profile data
    
        try {
            const response = await fetch(URL, fetchOptions);
            if (!response.ok) {
                throw new Error(`Failed to fetch user profile: ${response.status}`);
            }
    
            const profileData = await response.json();
            console.log('Fetched Profile Data:', profileData);

            // Update the header name with the user's first name
            const headerName = document.getElementById('headerName');

        } catch (error) {
            console.error('Error fetching user profile:', error.message);
        }
    }
</script>