<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{ site.baseurl }}/navigation/documentation/doc">Main Page</a></td>
        <td><a href="{{ site.baseurl }}/navigation/documentation/rendering">Rendering</a></td>
        <td><a href="{{ site.baseurl }}/navigation/documentation/polygraphics">Poly Graphics</a></td>
        <td><a href="{{ site.baseurl }}/navigation/documentation/advanced">Optimization</a></td>
        <td><a href="{{ site.baseurl }}/navigation/documentation/lighting">Lighting</a></td>
        <td><a href="{{ site.baseurl }}/binaryTechniques/">Binary</a></td>
        <td><a href="{{ site.baseurl }}/navigation/documentation/stories">User Stories</a></td>
    </tr>
</table>
