<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/navigation/section/game">Game</a></td>
        <td><a href="{{site.baseurl}}/navigation/section/binary">Binary</a></td>
        <td><a href="{{site.baseurl}}/navigation/documentation/doc">Documentation</a></td>
        <td><a href="https://github.com/Frogpants/Project-Bitshift">Bitshift Github</a></td>
        <td><a href="{{site.baseurl}}/settings">Information</a></td>
    </tr>
</table>