<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/navigation/bitshift/documentation/doc">Main Page</a></td>
        <td><a href="{{site.baseurl}}/navigation/bitshift/documentation/rendering">Rendering</a></td>
        <td><a href="{{site.baseurl}}/navigation/bitshift/documentation/polygraphics">Poly Graphics</a></td>
        <td><a href="{{site.baseurl}}/navigation/bitshift/documentation/advanced">Optimization</a></td>
        <td><a href="{{site.baseurl}}/navigation/bitshift/documentation/lighting">Lighting</a></td>
        <td><a href="{{ site.baseurl }}/navigation/bitshift/documentation/tutorial/intro">Tutorial</a></td>
    </tr>
</table>
