<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/navigation/bitshift/documentation/tutorial/intro">Intro</a></td>
        <!-- <td><a href="{{site.baseurl}}/navigation/documentation/tutorial/render">Render</a></td>
        <td><a href="https://github.com/Frogpants/documentation/tutorial/issues">Issues</a></td>
        <td><a href="https://github.com/Frogpants/navigation/section/contact">Optimizations</a></td> -->
    </tr>
</table>
