///
/// Dark skin for TeXt theme
///

// main colors
$main-color-1:     #ff7575;
$text-color-1:     #fff;

$main-color-2:     #ffb347;
$text-color-2:     #fff;

$main-color-3:     #282a36;
$text-color-3:     #f8f8f2;

// page background
$background-color: #282a36;

// text colors
$text-color-theme-light-d: #000;
$text-color-theme-light:   #222;
$text-color-theme-light-l: #888;

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    #f8f8f2;
$text-color-theme-dark-l:  #6272a4;

$text-color-d:     $text-color-theme-dark-d;
$text-color:       $text-color-theme-dark;
$text-color-l:     $text-color-theme-dark-l;

// main color theme variables
$main-color-theme-light: $main-color-1;
$main-color-theme-dark: $main-color-1;

// text background color
$text-background-color: #44475a;

// header and footer background
$header-text-color: $text-color-3;
$header-background: #44475a;

$footer-text-color: $text-color-3;
$footer-background: #44475a;

// border and shadow colors
$border-color:     mix(#fff, $background-color, 20%);
$border-color-l:   mix(#fff, $background-color, 10%);
$decorate-color:   rgba($main-color-1, .15);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #50fa7b;
$blue:            #8be9fd;
$yellow:          #f1fa8c;
$red:             #ff5555;
$text-color-function: #282a36;

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #fff;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #fff;
$npm-color:        #fff;
