<button class="small filledHighlight primary">
    test test test
</button>

<button class="medium filledHighlight primary">
    test test test
</button>

<button class="large filledHighlight primary">
    test test test
</button>

<br>
<br>
<br>

<button class="small filledTinted primary">
    test test test
</button>

<button class="medium filledTinted primary">
    test test test
</button>

<button class="large filledTinted primary">
    test test test
</button>

<br>
<br>
<br>

<button class="small primary">
    test test test
</button>

<button class="medium primary">
    test test test
</button>

<button class="large primary">
    test test test
</button>

<br>
<br>
<br>

<button class="small secondary">
    test test test
</button>

<button class="medium secondary">
    test test test
</button>

<button class="large secondary">
    test test test
</button>

<br>
<br>
<br>

<button class="small disabled">
    test test test
</button>

<button class="medium disabled">
    test test test
</button>

<button class="large disabled">
    test test test
</button>