// text inputs
input {
    color: white;

    // border
    border-radius: 10px;
    border: 1px solid hsla(240, 6%, 30%, 0.63);

    // shadow
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));

    // spacing
    padding: 15px;
    margin: 10px;
}

input > .gradientInput {
    @extend input;
    background-image: $gradient1
}

input > .smallInput {
    @extend input;
    font-size: 0.8em;
}

input > .mediumInput {
    @extend input;
    font-size: 1em;
}

input > .largeInput {
    @extend input;
    font-size: 1.5em;
}